<%= form_with model: article do |f| %>
  <% if article.errors.any? %>
    <h2><%= pluralize(article.errors.count, "error")%> prevented article from being save </h2>
    <ol>
    <% article.errors.each do |error| %>
      <li><%=error.full_message %></li>
    <% end %>
    </ol>
  <% end %>
  <%=f.label :title %>
  <%=f.text_field :title %>

  <%=f.label :content %>
  <%=f.text_area :content %>

  <%=f.submit :submit %>

<% end %>
