<strong> <%= @article.title %> </strong>
<p> <%= @article.content %> </p>
<%=link_to "Articles Page", articles_path%>
<%=link_to "HomePage", root_path%>

<%= render "comments/form"%>

<h2> Comments </h2>
<ul>
  <% @article.comments.each do |comment| %>
    <li>
      <%= render @article.comments%>
    </li>
  <% end %>
</ul>
